.blend{
  display: flex;
  align-items: center;
  justify-content: center;
}
.blend img{
  position: absolute;
}
.blend h1{
  font-size: 80px;
  /* свойства делающие текст смещинным */
  mix-blend-mode: overlay;

}