.cirkle{
    width: 50px;
    height: 50px;
    /* закругление углов */
    border-radius: 100%;
    position: relative;
    background-color: green;
    /* изначальная прозрачность */
    opacity: 1;
    /* длительность анимации */
    animation-duration: 4s;
    /* задержка анимации */
    animation-delay: 2s;
    /* сколько раз будет проигрыватся анимационный цикл*/
    animation-iteration-count: 10;
    animation-name: loading;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* устанавливае ключевые кадры  в звданный ммомент времени*/
@keyframes loading{
    0% {opacity: 0.9; right: 0px; top: 0px;}
    25% {opacity: 0.7; right: 50px; top: 50px;}
    50% {opacity: 0.5; right: 0px; top: 50px;}
    75% {opacity: 0.3; right: 50px; top: 0px;}
    100% {opacity: 0.1; right: 0px; top: 0px;}
}
/* для потдержки разных браузеров */
@-webkit-keyframeskeyframes loading{
    0% {opacity: 0.9; right: 0px; top: 0px;}
    25% {opacity: 0.7; right: 50px; top: 50px;}
    50% {opacity: 0.5; right: 0px; top: 50px;}
    75% {opacity: 0.3; right: 50px; top: 0px;}
    100% {opacity: 0.1; right: 0px; top: 0px;}
}