
#field{
  width: 320px;
  height: 320px;
  box-sizing: content-box;
  border: 1px solid black;
}

#field::after{
  content: "";
  display: block;
  clear: both;
}

.chess-block{
  width: 40px;
  height: 40px;
  float: left;
}

.bg-black{
  background: #525252;
}

.active{
  background-image: url('./images/iconfider_black_knight_754824.png');
  background-color: orange;
  background-size: contain;
}

.green{
  background: green;
}