.parallax{
  background-image: url('https://images.https://images.pexels.com/photos/4081092/pexels-photo-4081092.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260.com/photos/4081092/pexels-photo-4081092.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  min-height: auto;
  background-attachment: fixed;
}