<!DOCTYPE html>
<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=adge">
    <link rel="stylesheet" href="style.css">
    <script src="https://vuejs.org/js/vue.js"></script>
    <title></title>
  </head>
  <body>
  <div id="app">
    <div class="stats">
      <h3 class="stats__title">Текуще задачи </h3>
      <taks @task_done="delete_task(index)" :data='data' v-for="(data, index) in tasks" :key="index">
    </div>
    <div class="add_task">
      <div class="add_task__input">
          <input type="text" v-model="new_task.title" placeholder="Новая задача">
          <textarea v-model="new_task.desc" placeholder="Описание"></textarea>
      </div>
      <button @click="add_task()" class="add_task__btn">+</button>
    </div>
  </div>
  </body>
<script src="script.js type="text/javascript"></script>
</html>
