.parallax{
    background-image: url("file:///home/ilya/pgit/Study/js/test/coffe.jpeg");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } 
  .content{
      height: 1000px;
      background-color: #4c4c4c;
      font-size: 40px;
  }