body {
    margin: 0 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    line-height: 1.6;
    columns: 333;    
}
/* для всех элементов сраницы*/
*,
*:before,
*:after {
    box-sizing: border-box;
}
/* Убираем высоту у заголовков */
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

/* основа */
.container {
    width: 100%;
    max-width: 1920px;
    
    /* вырвнивание по центру */
    margin: 0 auto;   
 
}
/* Intro */
.intro {
    position: absolute;
    max-width: 100;
    height: 620px;
    background: url(file:///home/ilya/pgit/Study/js/test/st4/rectangle2.png);
}